[2016-11-12 18:55] mszarlinski opened #1 "Fix README"
README file has been copied from AngularJS branch and must be updated.

[2016-11-12 19:03] mszarlinski opened #2 "Starting services with docker-compose"
We should be able to start all services using Docker following this [example](http://www.kennybastani.com/2015/07/spring-cloud-docker-microservices.html). Before _dockerization_ services can be started locally as described in README.

[2016-11-13 11:58] arey commented on #1
Yes, I would like to know how to start all those services?
Maybe with Docker or Spring Cloud CLI? https://cloud.spring.io/spring-cloud-cli/

[2016-11-13 12:38] mszarlinski commented on #1
I don't have experience with Spring Cloud CLI as of yet, so I've created yesterday a task #2 for Docker. If anyone can provide a Spring Cloud CLI setup, we probably could use it instead of Docker.

[2016-11-13 18:35] arey opened #3 "GIT_REPO ConnectException when starting DiscoveryServerApplication"
ConfigServerApplication error log due to GIT_REPO:
[code]

DiscoveryServerApplication startup error logs:
[code]

[2016-11-13 19:36] mszarlinski commented on #3
This is because local configuration repository is enabled by default. I'll switch to a remote one.

[2016-11-13 20:07] #3 closed

[2016-11-13 21:16] arey opened #5 "Remove one of both readme"
On MacOS and Windows, having README.md and readme.md with 2 different cases cause troubleshootings.

[2016-11-14 09:12] #5 closed

[2016-11-14 09:37] arey commented on #5
Thank you. It's working

[2016-11-14 14:16] arey opened #7 "Client modules naming"
The names of those 2 maven modules are confused:
* spring-petclinic-client  => front-end
* spring-petclinic-clients-service => Owner and Pet

We could rename the spring-petclinic-clients-service into spring-petclinic-customers-service (and the java package too). What do you think ?

[2016-11-14 15:17] mszarlinski commented on #7
Good point, I suggest `spring-petclinic-ui` and `spring-petclinic-customers-service`.

[2016-11-14 16:37] arey commented on #7
I like it.

[2016-11-14 19:41] mszarlinski opened #10 "Display pets' visits on owner details screen"
Pets and visits data is stored in different microservices, thus must be aggregated. Data fetching and aggregation logic should be implemented in API Gateway controller. Failover should be managed with [Hystrix](http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html).

[2016-11-15 17:23] arey opened #12 "Fail-over support"
When I start 2 instances of ClientsServiceApplication on my desktop then I stop the first started one, the second instance is not seen by Eureka and the app does not work. Any idea?

[2016-11-15 18:30] mszarlinski commented on #2
I have found an interesting article about Spring Cloud _dockerization_: http://ryanjbaxter.com/2015/12/15/building-cloud-native-applications-with-spring-part-8/
This approach requires creating a dedicated `docker` profile. What do you think? @arey @dsyer

[2016-11-15 18:49] mszarlinski commented on #12
It looks like default Eureka settings don't allow to register multiple instances of the same application with `server.port=0`. I am preparing a fix for that and learning a new thing :).

[2016-11-15 19:10] #12 closed

[2016-11-15 19:31] dsyer commented on #2
I hate docker. If there's a way to make it optional, please do. Also @ryanjbaxter works for pivotal now so he might have an opinion that we could ask about.

[2016-11-15 20:30] ryanjbaxter commented on #2
I am not familiar with this example, but I imagine it would be possible.  I a special docker profile because I often find that you need some different config when running everything in a docker env.  For example the location of the Eureka server.

[2016-11-16 07:19] arey commented on #12
I'm learning too.
@mszarlinski I don't see your commit. Do you have push it?

[2016-11-16 07:32] mszarlinski commented on #12
Commit was merged to config repo, no changes needed here. You can see a pull request: https://github.com/spring-petclinic/spring-petclinic-microservices-config/pull/1

[2016-11-16 08:17] arey commented on #12
Ok thanks

[2016-11-17 08:45] #7 closed

[2016-11-21 14:07] ChristianStier opened #14 "JS Content not correctly materialized into API gateway"
When launching the API gateway via mvn spring-boot:run, the *.js resources are not correctly materialized and delivered, resulting in client-side 404s. When I copied the resources from the UI's target folder into resources/static, they were correctly delivered.

[2016-11-21 20:44] arey opened #15 "Tracing With Spring Cloud Sleuth"
We could introduce Spring Cloud Sleuth. See https://dzone.com/articles/tracing-in-microservices-with-spring-cloud-sleuth

[2016-11-22 15:48] mszarlinski commented on #15
I agree it would be nice to introduce request tracing.

[2016-11-22 15:51] mszarlinski opened #16 "Modernize Spring apps structure"
We could apply changes submitted by @dsyer in this PR: https://github.com/spring-projects/spring-petclinic/pull/200

[2016-11-22 17:00] mszarlinski opened #17 "Enable Hystrix Dashboard and Turbine"
We could configure Hystrix Dashboard and Turbine as described here https://github.com/spring-cloud-samples/hystrix-dashboard

[2016-11-22 17:04] mszarlinski opened #18 "Enable configuration refresh"
We could configure and use `@RefreshScope` feature as described here: http://cloud.spring.io/spring-cloud-static/docs/1.0.x/spring-cloud.html#_refresh_scope

[2016-11-22 17:19] arey commented on #16
I think it makes sense to report this change, especially in a micro-services architecture.

[2016-11-22 17:20] arey commented on #15
I could work on it in the next weeks.

[2016-11-22 19:15] mszarlinski commented on #15
Enjoy 😊

[2016-11-22 19:17] mszarlinski commented on #17
I can handle it

[2016-11-23 15:16] mszarlinski commented on #14
It works on [https://github.com/spring-petclinic/spring-petclinic-angular1](Angular branch), so it was broken by refactoring towards microservices .

[2016-11-23 19:12] mszarlinski commented on #10
In progress.

[2016-11-23 19:18] #14 closed

[2016-11-24 14:22] mszarlinski commented on #16
In progress

[2016-11-29 17:00] arey commented on #15
When #10 will be merged, we could had some traces to the api gateway module.

[2016-11-29 17:04] arey opened #21 "Add Zipkin optional module"
Once #15 done, we could add a Maven module with Zipkin UI and Zipkin Server. Thus we could have a UI to browse collecting logs.
See https://dzone.com/articles/tracing-in-microservices-with-spring-cloud-sleuth
If Zipkin is not started, the application continue to work.

[2016-11-30 12:41] #15 closed

[2016-12-01 12:25] arey opened #22 "Making switching easier between github and local repository"
Today, we have to comment/uncomment few lines in spring-petclinic-config-server/src/main/resources/application.yml :
[code]
Spring Cloud Config Server provides advanced features like environment repository. Maybe could we use it?
https://cloud.spring.io/spring-cloud-config/spring-cloud-config.html#_environment_repository

[2016-12-01 12:38] mszarlinski commented on #22
It is definitely the right way to do this.

[2016-12-04 17:08] arey commented on #21
Close by #23

[2016-12-04 17:08] #21 closed

[2016-12-05 07:56] #10 closed

[2016-12-05 09:10] mszarlinski commented on #17
In progress

[2016-12-07 17:59] mszarlinski commented on #2
In progress

[2016-12-09 12:30] arey opened #27 "Add Spring Boot Admin"
Console to manage and monitor our micro-services Spring Boot Applications.
See https://github.com/codecentric/spring-boot-admin and https://spring.io/blog/2016/12/07/spring-tips-bootiful-dashboards

[2016-12-09 12:30] arey commented on #27
If you are interested, I coud work on it next week.

[2016-12-12 08:20] #16 closed

[2016-12-15 08:26] #22 closed

[2016-12-21 19:01] arey commented on #1
AngularJS documentation has been updated into the https://github.com/spring-petclinic/spring-petclinic-microservices/pull/29

[2017-01-07 17:25] mszarlinski opened #31 "Services cannot contact with Zipkin server"
Zipkin server does not see any traces nor dependencies. Logs are not being pushed to Zipkin.

Reproducible when starting services locally as well as with Docker compose.

[2017-01-07 18:44] arey commented on #27
An overview of what is comming:
![admin-server](https://cloud.githubusercontent.com/assets/838318/21744218/b6c7283a-d511-11e6-9219-cb4fc8a8f8da.png)

[2017-01-08 16:03] mszarlinski commented on #27
Nice, excited 👍

[2017-01-09 07:27] #31 closed

[2017-01-09 07:27] #2 closed

[2017-01-14 13:12] arey commented on #1
I propose to complete the readme.md with some database information then remove petclinic_db_setup_mysql.txt and db_readme.txt files

[2017-01-14 13:13] arey commented on #1
With PR #33 the Front-end module table has to be updated.

[2017-01-14 13:21] arey opened #37 "Owner details failed when visits-service is down"
We could improve the VisitsServiceClient class by adding a fallback when visits-service is down (maybe with @HystrixCommand).
The owner details will not display visits.
Here is the stacktrace:
[code]

[2017-01-14 13:24] arey opened #38 "Centralized Docker configuration"
All Dockefile are quite similar. Maybe is there a way to factorized them into a single file? HTTP Port could be parameterized. Maven configuration could be move to the parent pom.

[2017-01-14 15:11] mszarlinski commented on #37
This will be resolved together with #17.

[2017-01-14 15:11] #37 closed

[2017-01-14 17:48] arey commented on #37
Ok fine.

[2017-01-15 17:25] #27 closed

[2017-01-15 18:25] arey opened #40 "Remove error logs from ApiGatewayApplicationTests"
The ApiGatewayApplicationTests unit test generates some error and warning logs by trying to connect to the Eureka server.
Network connections to a third host should not appear in real unit test.
[code]

[2017-01-17 09:27] ScopeSebastian opened #41 "Implement OAuth2 Security for microservices"
Since there is a lack of samples on how to secure microservices and this is the most suggested method, it could be a good idea to implement this type of security for communication between microservices and securing them from outside requests

[2017-01-18 18:18] mszarlinski commented on #41
I think that incorporating Spring Cloud Security to our project is a natural follow up of what we already have one here. I am only wondering if securing our demo application wound't make it too complicated. I would like to keep this project as simple as possible, helping people to get started with Spring Cloud. Maybe we should create a separate branch for an OAuth2 version? @arey @dsyer

[2017-01-19 09:42] ScopeSebastian commented on #41
Agree in keeping the project simple, but would be great to have a branch with the OAuth2 implementation.

[2017-01-20 00:28] saturnism opened #42 "Add LICENSE"
License seems to be missing. Will you be releasing this under Apache 2 license? Thanks!

[2017-01-21 14:41] mszarlinski commented on #42
Hi @saturnism, thanks for posting this issue. I will supply missing licence comments.

[2017-01-25 16:05] #42 closed

[2017-01-25 16:10] mszarlinski commented on #41
Would you like to contribute or to leave implementation to someone else? I think we can go with separate branch first and then decide whether to merge secured version to master.

[2017-01-25 16:14] ScopeSebastian commented on #41
I would be glad to help as much as I can, but I'm not experienced with oauth2 used in microservices. I wanted to use this as a good base to learn the correct way to implement the service.
I could implement what I know till now and then someone else check for improvements

[2017-02-03 19:31] saturnism commented on #42
Thank you @mszarlinski! Much appreciated.

[2017-02-10 18:42] #40 closed

[2017-02-25 05:22] Dovchiproeng opened #46 "Can't start up to run properly"
I build the image and run it using docker-compose up. However, first the Eureka server run without any service register and then after that the server is down and I am getting this message.

com.netflix.discovery.shared.transport.TransportException: Cannot execute request on any known server
here is the docker container status, it shows that vet service and discover server is down
`$ docker ps -a

[2017-02-25 12:48] mszarlinski commented on #46
Please wait for all services to register in Eureka. You can track a progress of registration on Eureka dashboard available at `http://localhost:8761`. Once `api-gateway` is registered, you can access application UI at `8080`.

[2017-02-25 16:45] Dovchiproeng commented on #46
Yes I read it in the readme file too, but the problem is now the Eureka server is down after it start and so all the service can't be registered.

[2017-03-01 06:17] mszarlinski commented on #46
I am unable to reproduce this issue. It might be related to your local environment, like insufficient memory available for containers.

Could you please try to run apps manually, without docker-compose or Docker at all?

[2017-03-02 01:38] Dovchiproeng commented on #46
Thanks for your suggestion, I found out the issue is because of the Memory of my docker engine. I increase it from 2GB to 6GB. It works fine now!

[2017-03-02 01:38] #46 closed

[2017-03-10 11:05] renuraj18 opened #49 "Memory issue while running in AWS"
I am facing memory issue while running the microservice in AWS.
Is the any Tuned Java options available?

[2017-03-10 12:45] mszarlinski commented on #49
Hi, @renuraj18. I guess nobody has tried to run the app on AWS as of yet. However, you can adjust JVM settings in a regular way.

[2017-03-28 14:27] birdy81 opened #51 "On windows the owner details do not show up"
Hi, I faced the problem that the owner details did not show up when I run the pet clinic on windows. Strangely, running on ubuntu there was no problem. After I changed the file "/spring-petclinic-api-gateway/src/main/resources/static/scripts/owner-details/owner-details.controller.js"
and changed rest call: "api/gateway/owners/" to "api/customer/owners/" everything was working again. Have you faced

[2017-03-28 16:17] arey commented on #51
@mszarlinski I'm working on MacOS and I don't have this problem.

[2017-03-29 18:01] mszarlinski commented on #51
1. Using `api/customer/owners` you get owners without visits related to their pets. Please see
[ApiGatewayController#getOwnerDetails](https://github.com/spring-petclinic/spring-petclinic-microservices/blob/master/spring-petclinic-api-gateway/src/main/java/org/springframework/samples/petclinic/api/boundary/web/ApiGatewayController.java#L45), where additional fetching of visits occurs.
In real life

[2017-03-30 11:34] birdy81 commented on #51
Hi, thank you for your quick reply. I used a different fork of the petClinic and started it without docker-compose using my own startupscript that just calls the mvn run command. The problem must be there.  With your master branch it is also working on windows. Sorry for the inconvenience! And thank you for the work on this application!

[2017-03-30 11:34] #51 closed

[2017-04-11 06:29] renuraj18 commented on #49
Thanks for the update.
Closing this issue.

[2017-04-11 06:29] #49 closed

[2017-04-11 06:31] renuraj18 opened #54 "Forward error with proxy"
Hi,

I am facing issue with the proxy, its throwing forward error. Its not resolving with container id

api-gateway       | 2017-04-11 06:07:03.355  WARN [api-gateway,cf2a4d11d8028d75,cf2a4d11d8028d75,true] 1 --- [nio-8080-exec-5] o.s.c.n.z.filters.post.SendErrorFilter   : Error during filtering
api-gateway       |
api-gateway       | com.netflix.zuul.exception.ZuulException: Forwarding error
api-

[2017-04-25 06:10] mszarlinski commented on #41
Hi @ScopeSebastian, any update on this? :)

[2017-05-22 18:20] kmcquade opened #57 "Config Server image not found on DockerHub"
Getting this error when I run _docker-compose up_

ERROR: repository mszarlinski/spring-petclinic-config-server not found: does not exist or no pull access

Looked at [the profile on DockerHub](https://hub.docker.com/u/mszarlinski/) and it appears that the Docker repo is not there.

Suggestions?

[2017-05-22 21:24] mszarlinski commented on #57
Hi @kmcquade, I apologise but images have not been pushed yet. I will work on it. You can still build your own images using maven plugin - just run `mvn clean install -PbuildDocker` as pointed in README.

[2017-05-22 21:59] kmcquade commented on #57
Yep, figured that out a little while after I posted this issue. I had to modify the docker-compose.yml file to reference the Dockerfiles within each project folder. I ran the `mvn clean install -PbuildDocker` command for each of those folders, and only ran into issues with one of them. This one was for the customers-service project:

`[ERROR] Failed to execute goal on project spring-petclinic-cust

[2017-05-22 22:02] mszarlinski commented on #57
Try running `mvn clean install -PbuildDocker` on root directory, it should build all required images - "it works on my machine" :)

[2017-05-23 15:24] arnelism opened #58 "hsqldb only imports Cusomers"
When running customers service, only Customers table is populated with data. Pet Types and Pets remain empty. Bug/feature/keyboardDriverError?

[2017-05-23 17:43] kmcquade commented on #57
Figured out the issue... I didn't have Oracle JDK installed in my VM (it was running on JRE). Guess I didn't have to modify the docker-compose.yml file to reference the local Dockerfiles, etc. I also didn't have to run the maven command in all the projects... tried that as a workaround initially but of course the missing JDK in my VM was the issue.

Thanks for your help. Glad it's working now! Iss

[2017-05-23 17:43] #57 closed

[2017-06-29 19:39] sachrekar21 opened #60 "Running the evict task with compensationTime 0ms"
Hi,

While deploying the containers on AWS, i get the following output and it just keeps on going in a loop and not progressing further:
![error](https://user-images.githubusercontent.com/29106184/27706800-f4555f8a-5ce0-11e7-81c0-5bd99ae1455d.png)
Can you please help me out with this issue?

[2017-06-29 21:40] mszarlinski commented on #60
Hi, we don't support AWS as of yet. Any help appreciated.

[2017-06-29 21:45] sachrekar21 commented on #60
Hi,

Thanks for getting back. One of my colleague also tried it on his local MAC. Still have the same error.

Shreyas Achrekar

Sent from my Samsung mobile

From: Maciej Szarliński
Sent: Thursday, June 29, 5:40 PM
Subject: Re: [spring-petclinic/spring-petclinic-microservices] Running the evict task with compensationTime 0ms (#60)
To: spring-petclinic/spring-petclinic-microservices
Cc: Shreyas Achr

[2017-06-30 05:18] mszarlinski commented on #60
Please provide a stacktrace and elaborate how you start services.

[2017-07-10 17:33] arey commented on #58
According to the data.sql file of the spring-petclinic-customer-service, 3 tables has to be populated: owners, pets and types.

[2017-07-10 17:35] arey commented on #58
According to the data.sql file of the spring-petclinic-customer-service, 3 tables has to be populated: owners, pets and types.

[2017-07-10 17:42] arey commented on #58
According to the data.sql file of the spring-petclinic-customer-service, 3 tables has to be populated: owners, pets and types.

[2017-08-04 20:14] sachrekar21 opened #61 "Running on ECS cluster"
Hey,

I tried running these on Amazon ECS Cluster but they cant seem to reach the database. Can you please let me know if you know why this is happening?

Thanks,
Shreyas

[2017-08-04 20:16] #60 closed

[2017-08-10 04:34] ambrish24 opened #62 "data-access.properties file is missing"
In the **petclinic_db_setup_mysql.txt file**, it has been mentioned that for MySQL configuration we need to do the changes in **data-access.properties** file. I didn't find this file in this repository.

In **spring-petclinic/spring-petclinic-microservices-config repository**, I can provide MySQL configuration for these services' .yml files like

1. customers-service.yml
2. vets-service.yml and
3.

[2017-08-11 09:52] ambrish24 commented on #62
I have given the MySQL configuration in **spring-petclinic/spring-petclinic-microservices-config** repository's **application.yml**.

Closing the issue.

[2017-08-11 09:52] #62 closed

[2017-08-11 10:39] mszarlinski commented on #62
I will look into it next week, Thanks for PR

[2017-08-16 21:08] jwlai opened #63 "Docker Images - Missing"
Hi,

I was trying to launch this in docker and ran into these Image Repository links to be empty. Is there a reason they were taken down?

Thanks.

"mszarlinski/spring-petclinic-admin-server" and all other images.

[2017-08-17 10:41] mszarlinski commented on #63
I have pulled images, please try again.

[2017-08-17 13:01] jwlai commented on #63
Awesome, thank you @mszarlinski !

[2017-08-17 13:01] #63 closed

[2017-10-17 11:29] mgabor89 opened #64 "-PbuildDocker doens't work"
When I'm starting maven build from root folder with the above mentioned option, I receive an error message:
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] spring-petclinic-microservices ..................... SUCCESS [  0.617 s]
[INFO] spring-petclinic-admin-server ...................... FAILURE [ 12.389 s]
[INFO] spring-petclin

[2017-10-23 02:52] peterscarborough commented on #64
Got the same thing. Haven't tried to build it individually.

INFO: Retrying request to {}->unix://localhost:80
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] spring-petclinic-microservices ..................... SUCCESS [  4.269 s]
[INFO] spring-petclinic-admin-server ...................... FAILURE [01:10 min]
[INFO] spring-petc

[2017-11-21 23:22] mikessun opened #65 "MySQL switch documentation"
In petclinic_db_setup_mysql.txt, following file was mentioned but the file does not exist in the repo:
src/main/resources/spring/data-access.properties

[2017-12-12 09:21] jeongkm commented on #64
Need to add dependency in pom.xml for customers, vets, visit :

<dependency>
   <groupId>org.codehaus.woodstox</groupId>
   <artifactId>stax2-api</artifactId>
   <version>3.1.1</version>
</dependency>

[2017-12-17 11:06] mszarlinski commented on #65
Thanks for pointing out, I will fix it.

[2018-01-19 14:47] arey opened #67 "Upgrade to Edgware SR1"
Spring Cloud Edgware.RELEASE has been released in november 2017
https://spring.io/blog/2017/11/27/spring-cloud-edgware-release-available

[2018-01-20 10:42] mszarlinski commented on #67
Thanks, I will bump deps

[2018-01-30 06:16] arey commented on #38
Thanks a lot @jpaszek
Feel free to contribute again :-)

[2018-01-30 06:18] #38 closed

[2018-02-03 13:10] jpaszek commented on #64
Adding your current user to the docker group fixed this error for me.

`sudo usermod -aG docker $USER`

[2018-03-30 16:30] arey opened #72 "Upgrade to Spring Cloud Finchley"
Finchley is compatible with Spring Boot 2.
See https://spring.io/blog/2018/03/23/spring-cloud-finchley-m9-has-been-released

[2018-04-11 16:29] arey commented on #72
I've created a feature/Finchley branch: https://github.com/arey/spring-petclinic-microservices/tree/feature/Finchley

Datasource initialization failed. There is a circular dependency:
[code]

[2018-04-15 14:08] arey commented on #72
Thinking the issue could be related to https://github.com/spring-projects/spring-boot/issues/12374 I've tested Spring Boot 2.0.1, but it does not fixed it.

[2018-04-24 10:29] aistoica commented on #64
Expose daemon on tcp://localhost:2375 without TLS worked for me. From Docker -> Setting -> General tab

[2018-05-01 12:46] SyCode7 opened #75 "changing base java image"
I am trying to change the base java image to `openjdk:8-jre-alpine`, please how can this be done ?
Update: I have found where to effect this change, I tried changing in the vets microservice however it returns an error at build time :
 ` ---> Running in 2bbecdd578b6
/bin/sh: bash: not found`

[2018-05-02 07:39] mrumpf opened #76 "Document Docker resource requirements"
Starting the application with docker-compose up was painfully slow on my MacBookPro (16GB RAM). Some containers even stopped before all microservices came up.

The Docker Community Edition defaults to 2GB RAM, which is not enough for the Java VM default settings. This should be added to the documentation that the memory defaults of the Docker VM (on MacOSX and Windows) should be increased.

The me

[2018-05-02 08:25] mrumpf commented on #76
The VM parameters have been introduced in Java 8 Update 131.
Unfortunately the referenced image java:8 is the official Oracle Java repository which does not receive updates anymore: https://hub.docker.com/_/java/
Instead the following Docker image should be used: https://hub.docker.com/_/openjdk/
When referencing the image "openjdk:8" the VM parameters can be passed to the Java VM which is used in

[2018-05-02 08:42] mrumpf commented on #76
Adding a mem_limit: 512M to each entry in the Docker Compose file, which reduces the memory consumption by 50% from around 8GB to 4GB:

[code]

This could probably be reduced even further. I could imagine that 256M is also sufficient for the demo application.

[2018-05-02 08:48] mrumpf commented on #76
So even with 'mem_limit: 256M' the petclinic application works without any issues:
[code]

[2018-05-02 12:39] #76 closed

[2018-06-02 10:43] SyCode7 opened #79 "Add OpenAPI (Swagger) support"
Due to the rising support for OpenAPI (swagger), it will be nice to add OpenAPI support for PetClinic microservices. I have  done this in a forked [version](https://github.com/SyCode7/spring-petclinic-microservices-swagger). For example, for the  Vets service, the  VisitsServiceApplication class will be as [here](spring-petclinic-microservices-swagger/spring-petclinic-visits-service/src/main/java/

[2018-06-04 16:34] arey commented on #79
Thank you @SyCode7 for your suggestion.
I'm note sure this Petclinic fork is the right place for an OpenAPI integration. There still a lot of technology to integrate.
Why not in the spring-petclinic-rest fork or in a branch? @mszarlinski @vfedoriv any idea?

[2018-06-04 17:05] vfedoriv commented on #79
Already implemented in spring-petclinic-rest fork.
Still some problems with migration to Spring Boot 2
https://github.com/springfox/springfox/issues/1773

[2018-06-10 22:58] SyCode7 commented on #65
@mszarlinski  any update on this, I could not switch to MYSQL because of this .

[2018-06-11 06:14] mszarlinski commented on #65
We are open to contribution, it is open source :)

[2018-06-11 16:25] arey commented on #79
@SyCode7 you may help @vfedoriv and the community to improve the https://github.com/spring-petclinic/spring-petclinic-rest fork

[2018-06-11 17:56] SyCode7 commented on #79
@arey sure, I gonna take a look and provide some support. Please you may close this issue if okay. Thanks.

[2018-06-11 20:20] arey commented on #79
Thanks a lot @SyCode7

[2018-06-11 20:20] #79 closed

[2018-07-11 02:34] donydex opened #81 "mvn clean install -PbuildDocker don't work"
It is my error info:

                                                                                                      │[INFO] ------------------------------------------------------------------------
                                                                                                      │[INFO] Reactor Summary:

[2018-07-11 06:13] arey commented on #81
Did you run the Docker daemon?

[2018-07-12 01:45] donydex commented on #81
Yes,I have
![image](https://user-images.githubusercontent.com/11333398/42607980-340303d4-85b8-11e8-8781-b3bfe58e6255.png)
This is my question in stackoverflow.
https://stackoverflow.com/questions/51277418/mvn-clean-install-pbuilddocker-dont-work
Thanks!Wait for your answer!

[2018-07-12 16:30] arey opened #82 "Migrate to dockerfile-maven or Google Jib"
Spotify recommand recommend that new projects use [dockerfile-maven](https://github.com/spotify/dockerfile-maven) instead of the old github.com/spotify/docker-maven-plugin.
We could also migrate to Google Jib: https://github.com/GoogleContainerTools/jib

[2018-07-12 16:31] arey commented on #81
I've create the #82 to upgrade the Docker maven plugin but the current one is working on my macbook and Docker 18.05.0-ce-rc.

[2018-07-13 16:47] arey commented on #58
Any feedback

[2018-07-13 16:47] #58 closed

[2018-07-13 16:49] arey commented on #81
There is already an issue about builder Docker image with Maven: #64
Do you have checked the answers?

[2018-07-13 16:50] arey commented on #54
Do you find a solution to your issue?

[2018-07-16 06:07] arey commented on #72
Meege into master

[2018-07-16 06:07] #72 closed

[2018-07-31 06:28] Pophalekiran opened #84 "spring-petclinic-customer-service"
I took the latest code from git. I tried to compile the spring-petclinic-customer-service but it was failing for dependency "spring-petclinic-monitoring:jar:2.0.3". I tried to solve it but nothing worked for me.
Can you please suggest

[2018-08-05 21:14] pmj0yce commented on #41
I'd be interested in contributing to this and other security related items.  In particular what I would like to add (as individual tutorial branches) is:
	1) Securing microservices secrets with [Hashicorp  Vault](https://www.vaultproject.io/)
	2) OAuth2 authentication
	3) Authorization based on both roles and URL in each service
	4) Authorization in Angular UI (or maybe migrate to React with auth)

[2018-08-15 06:43] Pophalekiran commented on #84
Hi there,

I did the build it from root path but when I was trying to run spring-petclinic-customer-service and I was facing below error, I tried to use mvn install command in spring-petclinic-monotoring project but no use,

[ERROR] Failed to execute goal on project spring-petclinic-customers-service: Could not resolve dependencies for project org.springframework.samples.petclinic.client:spring-pe

[2018-08-21 06:11] arey commented on #84
Could you please try to go to the spring-petclinic-monitoring sub-directory and you manualy build the org.springframework.samples.petclinic.monitoring:spring-petclinic-monitoring:jar:2.0.3 artefact?

[2018-08-21 06:11] arey commented on #54
Any news

[2018-08-21 06:11] #54 closed

[2018-08-21 06:14] arey commented on #61
@sachrekar21 do you solve your database issue?

[2018-08-21 06:16] arey commented on #1
@mszarlinski could we close this issue?

[2018-08-21 06:18] arey commented on #75
@SyCode7 do you solve your issue?

[2018-08-21 06:31] arey commented on #41
Thank you @pmj0yce for your proposition.
We could have a secure version in a separate branch you'll be in charge to maintain (synchronize with the master branch).
I propose to keep AngularJS. You may go ahead and submit a PR :)

[2018-08-21 06:46] SyCode7 commented on #75
@arey no, still have it.

[2018-08-21 07:47] arey commented on #75
It looks like Alpine Linux image doesn't contain bash, Instead you can use /bin/ash, /bin/sh, ash or only sh or install it: apk --update bash

[2018-08-23 09:29] arey commented on #65
I'm working to improve the documentation

[2018-08-23 11:14] SyCode7 commented on #65
@arey thank you so much 😀

[2018-09-14 16:15] arey opened #89 "Removal of the spring-petclinic-monitoring module"
@mszarlinski, in order to simplify the base code, I suggest to remove the spring-petclinic-monitoring Maven module shared by all the microservices. Monitoring metrics are now sent to Zipkin trough distributed traces. What do you think about?

[2018-09-14 16:52] mszarlinski commented on #89
👍 it is some legacy stuff

[2018-09-14 16:57] arey commented on #89
Ok I take this change.

[2018-09-16 11:42] donydex opened #90 "How to spit the spring-petclinic-microservices into different machines?"
Right now the application is run in just one machine.
How can i split the microservices into different machines?
Thanks.

[2018-09-16 15:17] mszarlinski commented on #90
Hi, thank you for your comment. Application is split already into separate services that can be run independently manually as well as using Docker containers, on premise or in cloud. If you want to run apps on different machines, you should take care of all the networking configuration by yourself or use advanced tool like Kubernetes.

[2018-09-22 17:13] ghost opened #91 "Caused by: pl.project13.maven.git.GitCommitIdExecutionException: .git directory is not found! Please specify a valid [dotGitDirectory] in your pom.xml"
I am getting below error. No code changes done. No customization

[code]

[2018-09-22 17:46] arey commented on #91
Hi @JavaHelper. How do you download the source code? With a git clone or directly the zip archive? I suppose the second one. I've fixed the issue with #92. Could you test it?

[2018-09-22 18:18] JavaHelper commented on #91
I download the zip file and simply trying to build the code > mvn clean install -DskipTests

Giving me below error.

[2018-09-22 18:35] JavaHelper opened #93 "EnableAdminServer cannot be resolved to a type"
I am getting below error..

![image](https://user-images.githubusercontent.com/8208031/45920602-2ba68180-bec4-11e8-8e25-798c7a8380c4.png)

[2018-09-23 07:16] mszarlinski commented on #93
Hi, it is difficult to figure out what the problem is only from attached screenshot. Does Maven build your code? What is the error message shown in Eclipse?

[2018-09-23 17:06] arey commented on #91
@JavaHelper could you please download the new zip then execute a ``` mvn clean install```?

[2018-09-23 18:54] #1 closed

[2018-09-23 18:54] mszarlinski commented on #61
Closing due to inactivity.

[2018-09-23 18:54] #61 closed

[2018-09-24 07:12] #89 closed

[2018-10-01 15:01] notsureifkevin opened #102 "Update to JDK11 (or 10)"
I've been working on an opentracing workshop for OSS Summit EU and this is the microservice project I landed on when decided what I should instrument.

I have managed to upgrade to JDK10 (it'll be 11 once bionic beaver updates their jdk11 packages to actually deliver 11 instead of 10). I've also done some other enhancements which you might be interested in. (see other issues).

There is a caveat t

[2018-10-01 15:04] notsureifkevin opened #103 "Utilize micrometer and prometheus for metric collection"
I've implemented micrometer and prometheus for collecting metrics directly from the individual service components. Currently all JVM stats are collected, along with a few custom metrics (create/update actions).

This _might_ work with the current JVM8 build, but I didn't test it with that version, I'd already moved the application into v10.

-K

[2018-10-03 07:36] arey commented on #102
I'm agree to support the JDK 11 and, potentially upgrade the Docker images. But I prefer to keep a compatibility with Java 8 that remains the most established platform version.

For JDK 11 support, maybe we have to upgrade to Spring Boot 2.1 and Spring Framework 5.1. There is Java 11 initial support. See:
- https://github.com/spring-projects/spring-framework/wiki/What's-New-in-Spring-Framework-5.x

[2018-10-03 14:03] #65 closed

[2018-10-03 15:50] kcrawley commented on #102
Ok, that makes sense. We can always circle back to this when 11 support is a bit more flushed out.

[2018-10-14 07:32] GOODDAYDAY opened #108 "There is something wrong with the ZipkinServer.java"
Hi guys, I am in trouble with `ZipkinServer.java`. There are some error information.

[code]

[2018-10-14 12:50] mszarlinski commented on #108
I think Zipkin server is currently out of the scope of this demo application, as described here:
https://github.com/openzipkin/zipkin/blob/master/zipkin-server/src/main/java/zipkin/server/EnableZipkinServer.java

On the other hand, we could start Zipkin server from Docker image. WDYT @arey ?

[2018-10-14 17:46] arey commented on #108
When I migrate to Spring Boot 2, I've noticed the `EnableZipkinServer` became deprecated.
The reporting error is referenced by the OpenZipkin issue https://github.com/openzipkin/zipkin/issues/2043. They recommand to use the Docker version. So I think we have to.

[2018-10-14 17:47] #108 closed

[2018-10-16 08:42] mritou opened #110 "Non-resolvable parent POM"
Hello,
While trying to launch all apps :

[code]

[2018-10-16 13:43] arey commented on #110
Hi @mritou. The spring-petclinic-microservices version 1.5.1 looks very old. How to you retrieve the application?

[2018-10-17 11:47] mritou commented on #110
Hello,
That's the code i obtain while launch this command : git clone https://github.com/inspectit-labs/spring-petclinic-microservices.git
I try to download the release : wget https://github.com/spring-petclinic/spring-petclinic-microservices/archive/v2.0.3.tar.gz
But same problem when trying to use the start script :

[code]

[2018-10-18 06:11] arey commented on #110
The https://github.com/inspectit-labs/spring-petclinic-microservices/ repository is a fork of spring-petclinic-microservices. You may create an issue to their repo.

The https://github.com/spring-petclinic/spring-petclinic-microservices/archive/v2.0.3.tar.gz archive should worked. But you don't have to use the `./start.sh /usr/local/inspectIT/agent/`commant line to start it. Instead, use the docke

[2018-10-18 11:17] mritou commented on #110
Thx for your help !
Work's fine now :)

[2018-10-18 11:17] #110 closed

[2018-11-15 07:38] arey commented on #91
Any news?

[2018-11-15 07:39] #90 closed

[2018-11-15 07:45] arey commented on #75
The base java image has been changed to openjdk:8-jre-alpine in the recent commit: https://github.com/spring-petclinic/spring-petclinic-microservices/commit/318c08ae8b7e68e41a21791a5f6243f7b1075f0f thanks to @Xaseron

[2018-11-15 07:45] #75 closed

[2018-11-15 07:48] #64 closed

[2018-11-15 07:48] arey commented on #84
Any news?

[2018-11-15 07:48] arey commented on #93
Any news @JavaHelper?

[2018-11-19 07:53] arey commented on #17
@mszarlinski a part of this issue has been implemented by the PR https://github.com/spring-petclinic/spring-petclinic-microservices/issues/17
But what about Turbine?

[2018-11-29 13:07] nidhi-parmar opened #116 "docker-compose for Mysql DB"
not able to understand docker-compose for Mysql db...

[2018-12-17 14:44] arey opened #117 "Replace Hystrix, Hystrix Dashboard, Ribon and Zuul"
According to the blog post titled `Spring Cloud Greenwich.RC1 available now`
 https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now, some Spring Cloud Netflix modules will be placed into maintenance mode.

Pivotal recommend the following as replacements for the functionality provided by these module:

CURRENT | REPLACEMENT
-- | --
Hystrix | Resilience4j
Hystrix Dashboard / Tur

[2018-12-17 14:45] arey commented on #17
Bad news, we still have to replace them: #117

[2018-12-17 14:47] arey opened #118 "Upgrade to Spring Cloud Greenwhich and Spring Boot 2.1"
Base on Spring Boot 2.1.1, Spring Cloud Greenwich.RC1 is now available:
https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now

[2018-12-17 14:47] arey commented on #118
I've started to work on this upgrade. I will soon share the branch.

[2019-02-17 15:52] arey commented on #93
No feedback. Please reopen this issue if your problem persists.

[2019-02-17 15:52] #93 closed

[2019-02-17 15:52] arey commented on #91
No feedback. Please reopen this issue if your problem persists.

[2019-02-17 20:46] arey commented on #84
No feedback. Please reopen this issue if your problem persists.

[2019-02-17 20:46] #84 closed

[2019-02-17 20:46] arey commented on #81
No feedback. Please reopen this issue if your problem persists.

[2019-02-17 20:47] #81 closed

[2019-02-17 20:47] arey commented on #116
@nidhi-parmar  are you interesting by adding this feature?

[2019-02-26 18:14] arey commented on #82
I've tried to migrate to Google Jib with the `jib-maven-pluginù but I'm not satisfied with it: the is no version of Dockerize for the `gcr.io/distroless/java` image and the `wait-for-it.sh` script is not working. Thus I have to use the `openjdk:8` Docker image.

You could check my commit: https://github.com/arey/spring-petclinic-microservices/commit/1da92dd26c15e114b8ab66b6d19cf87aac877d82

[2019-03-04 17:17] arey opened #120 "Use the Micrometer @Timed annotation"
See PR https://github.com/spring-petclinic/spring-petclinic-microservices/pull/105
Some resources:
- https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-metrics
- https://spring.io/blog/2018/03/16/micrometer-spring-boot-2-s-new-application-metrics-collector
- https://micrometer.io/docs/concepts#_the_code_timed_code_annotation
- https://www.baeldung.com/micrometer

[2019-03-16 18:49] TranNgocKhoa opened #121 "Other microservices can't get configuration when deploy on Docker"
I'm trying to create another version of your project.

But I'm stuck in this:
When I deploy **Config-Server**, **Discovery-Server, Api-Gateway**. **Config-Server** worked well. But it doesn't for remaining modules.
**Discovery-Server** and **Api-Gateway** can't connect to **Config-Server** to get configuration.
I'm sorry beacuse of my English grammar.
Please help.
Thank you!

This is my respositor

[2019-03-20 00:04] briceamk commented on #41
there is any update about Secure version?

[2019-03-20 06:10] arey commented on #41
We are looking for some contributors. @pmj0yce was interested but I we didn't have any news.

[2019-03-20 06:16] arey commented on #121
Hi @TranNgocKhoa do you have any logs? Does the `docker`Spring profile is active in your https://github.com/TranNgocKhoa/doctor-searching/blob/master/thesis-doctor-api-gateway/src/main/resources/bootstrap.yml?

[2019-03-20 06:17] #17 closed

[2019-03-20 15:16] TranNgocKhoa commented on #121
Do you mean docker profile is active when I deploy it on Docker?

[2019-03-21 17:26] arey commented on #121
Yes.
By the way, did your application is working outside of Docker?

[2019-03-21 17:57] TranNgocKhoa commented on #121
When I run it in local, I just update it config-server to localhost

[2019-03-21 18:07] TranNgocKhoa commented on #121
I've just tried again and have my first run [https://github.com/TranNgocKhoa/hello-doctor](https://github.com/TranNgocKhoa/hello-doctor)

Thank you for your time 👍 👍 👍 👍

[2019-03-21 18:22] arey commented on #121
Great 👍

[2019-03-21 18:22] #121 closed

[2019-03-22 20:55] #118 closed

[2019-03-29 17:13] #120 closed

[2019-04-23 00:38] damc-dev commented on #82
Hey @arey, I checked out your commit on Windows 10 and the docker containers failed to start up due to this error:  /usr/bin/env: ‘bash\r’: No such file or directory.
Since git checks out files with the default line endings of the OS on Windows it defaults to CRLF.  I was able to use the dos2unix command to convert to unix line endings. after that the wait-for-it.sh worked as expected.

I have an

[2019-04-23 01:25] damc-dev opened #127 "openzipkin/zipkin startup error"
It appears that the openzipkin/zipkin docker image in the docker hub was upgraded to Java 11 and the -XX:+UseCGroupMemoryLimitForHeap is no longer a valid option.  I believe it just needs to be removed.
The startup error is
[code]

[2019-04-23 05:21] #127 closed

[2019-04-23 20:47] pwittrock opened #129 "JDK 10 Maven Build Error"
Building with Java 10 results in an error.  Looks like this issue: https://github.com/spring-projects/spring-petclinic/issues/349

[2019-04-26 20:21] arey commented on #82
Hi @damc-dev I've added a `.gitattributes`file to my `feature/jib`branch: https://github.com/arey/spring-petclinic-microservices/blob/feature/jib/.gitattributes
It should solve your issue without having to use `dos2unix` tool.

It could be great to use `dockerize` instead of `wait-for-it.sh`. Microservices startup appears be more stable with it.

[2019-04-28 16:50] arey commented on #129
I've got this error:
[code]
The `wro4j-maven-plugin` is not compatible with Java 9,10 and 11 and seems to be not supported: https://github.com/wro4j/wro4j/issues/1039

[2019-04-30 06:32] arey commented on #129
Next week, I will work on a Java 11 version (probably in a separate branch)

[2019-05-05 16:44] arey commented on #102
I propose to create a `release/java11`branch. See https://github.com/spring-petclinic/spring-petclinic-microservices/pull/130

[2019-05-08 17:27] arey commented on #129
It should be OK. I let you test.

[2019-05-08 17:27] #129 closed

[2019-05-08 17:27] #102 closed

[2019-05-08 17:27] #103 closed

[2019-05-23 10:41] tscrypter commented on #116
I'll take a stab at this.

[2019-05-23 17:30] arey commented on #116
Thanks @tscrypter. Could you work on it then submit a Pull Request?

[2019-05-23 20:29] tscrypter commented on #116
I'll be doing that tonight.

[2019-05-24 13:15] anandrece opened #135 "spring-petclinic-microservices unable to build docker image"
I am trying to build docker images with the below Dockerfile.

FROM openjdk:8-jre-alpine
VOLUME /tmp
ARG DOCKERIZE_VERSION=v0.6.1
ARG ARTIFACT_NAME
ARG EXPOSED_PORT
ENV SPRING_PROFILES_ACTIVE docker
ADD https://github.com/jwilder/dockerize/releases/download/${DOCKERIZE_VERSION}/dockerize-alpine-linux-amd64-${DOCKERIZE_VERSION}.tar.gz dockerize.tar.gz
RUN tar xzf dockerize.tar.gz
RUN chmod +x docke

[2019-05-29 05:42] arey commented on #135
I think the mistake could come from the missing `ARTIFACT_NAME` parameter. I see the .jar exension without filename : `stat /var/lib/docker/tmp/docker-builder734454922/.jar:`

[2019-09-03 13:50] nodejsnewbie opened #136 "avoid download dockerize-alpine-linux-amd64-v0.6.1.tar.gz"
each time build images by executing `./mvnw clean install -PbuildDocker` ,it needs download dockerize-alpine-linux-amd64-v0.6.1.tar.gz from github, can you do some optimization?

[2019-09-03 16:53] arey commented on #136
Does someone has any idea to cache this package?

[2019-09-08 06:34] dexterm opened #137 "ERROR: manifest for springcommunity/spring-petclinic-config-server:latest not found: manifest unknown: manifest unknown"
Creating network "spring-petclinic-microservices_default" with the default driver
Pulling config-server (springcommunity/spring-petclinic-config-server:)...
ERROR: manifest for springcommunity/spring-petclinic-config-server:latest not found: manifest unknown: manifest unknown

ERROR: manifest for springcommunity/spring-petclinic-config-server:latest not found: manifest unknown: manifest unknown

I

[2019-09-08 06:48] #137 closed

[2019-09-08 06:48] dexterm commented on #137
Sorry I did not pass the version while building the image

[2019-09-24 05:47] arey commented on #135
Please reopen this issue if needed

[2019-09-24 05:47] #135 closed

[2019-09-25 09:34] sindhams opened #138 "Service discovery behavior with Kubernetes"
I deployed the petclinic application on kubernetes but the service discovery is happening with pod names, but it should happen with kubernetes service names. how do we achieve this

[2019-09-25 16:22] arey opened #139 "Upgrade to Spring Cloud Hoxton"
* https://spring.io/blog/2019/10/05/spring-cloud-hoxton-m3-is-now-available
* https://spring.io/blog/2019/08/19/spring-cloud-hoxton-m2-released
* https://spring.io/blog/2019/07/03/spring-cloud-hoxton-m1-is-available

[2019-09-25 16:23] arey commented on #138
Hi @sindhams I've never try to deploy the application on kubernetes but I hope someone could help you.

[2019-09-26 04:34] tscrypter commented on #138
@sindhams @arey Running this on K8s requires some code and architecture changes. Service Discovery is a feature provided OOTB by K8s.

### Architecture change:
1. K8s provides its own service discovery, so `spring-cloud-discovery-server` won't be deployed.

### Code changes:
1. Replace `spring-cloud-starter-netflix-eureka-client` with Spring Cloud Kubernetes DiscoveryClient (this is throughout mos

[2019-09-26 04:39] tscrypter commented on #138
An additional thought, less related to service discovery but more related to leveraging the native capabilities of a tool. Would it make sense to pull configuration and secrets from K8s ConfigMaps and Secrets instead of the deployed Spring Cloud Config Server?

[2019-09-26 06:58] arey commented on #138
@tscrypter thank you for feedback. We are aware of your contribution. A new branch could be great. Or why not a new repository if the are too many changes? I mean we may want to use `Istio` in another branch?

Sure we could replace `Spring Cloud Config Server` by `K8s ConfigMaps`. I found some documentation on the Baeldung's blog: https://www.baeldung.com/spring-cloud-kubernetes

[2019-09-29 09:04] sindhams commented on #138
thank you @arey . If I can make the services register themselves with Eureka with their IPs (pod IP resolution works in K8s between the pods) , the petclinic app should work in K8s. So I have added the property "perferIpAddress: true" in [discovery-server.yml](url) assuming that the services registration happens with IPs. However services are still registering with pod names , am I missing anythin

[2019-10-03 15:30] tscrypter commented on #138
@arey I'll make the changes in a new branch, and if the changes are significant, I'll leave it to you to create a new repo that I can issue a PR into for spring-petclinic-k8s.

[2019-10-03 16:36] arey commented on #138
@arey I propose you submit a PR. Thus I could review your changes and decide with @mszarlinski  if we should create a new repo dedicated to k8s.
In that case, @tscrypter could you take in charge to report the major evolutions of the repo `spring-petclinic-microservices` to the new one `spring-petclinic-k8s'?

[2019-10-03 16:38] tscrypter commented on #138
@arey I can make the changes to evolve `spring-petclinic-microservices` to `spring-petclinic-k8s`.

[2019-10-05 20:30] mszarlinski commented on #138
If we want to support k8s under spring-petclinic organization, I would opt for creating a new repository.

[2019-10-06 16:56] arey commented on #138
So I've created the `spring-petclinic-kubernetes` repository: https://github.com/spring-petclinic/spring-petclinic-kubernetes
@tscrypter you have the access right and could push to this repo.

[2019-10-09 06:40] arey commented on #139
I've got an issue with application starting with random port (server.port=0).
The application during initialization will report port 0 (random) to Eureka as the port it's running on, resulting in an unreachable service. This problem is similar to the one described to https://blog.joshmlwood.com/eureka-spring-cloud-random-port/

[2019-11-19 17:17] #139 closed

[2019-11-21 12:45] arey commented on #117
Ribbon, Zuul 1, Hystrix and Hystrix dashboard have been replaced.

[2019-11-21 12:45] #117 closed

[2020-03-06 11:22] Nilesh61181 opened #144 "Failed to fetch https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/index.yaml : 403 Forbidden"
I guess the charts are moved, can you update the docker image for these changes

Failed to fetch https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/index.yaml : 403 Forbidden

[2020-03-08 11:51] kamalben opened #145 "Package stage fails on GitLab"
Hello,

I have the following errors

Full Stack Trace :
Running with gitlab-runner 12.8.0 (1b659122)
   on docker-auto-scale 72989761
Using Docker executor with image openjdk:8-alpine ...
01:00
 Starting service docker:stable-dind ...
 Pulling docker image docker:stable-dind ...
 Using docker image sha256:14af3ba31e635475ec8f7fbe17470424514777621e627a91c41bbbe028dbae16 for docker:stable-dind ...

[2020-03-08 18:46] arey commented on #144
Hi @Nilesh61181, do you have the stack trace please ?

[2020-03-08 18:47] arey commented on #145
Hi @kamalben, is it working on your local machine? I would like to know if your problem only happens on Gitlab.

[2020-03-08 20:16] kamalben commented on #145
Hi @arey , it occured in gitlab: here is my .gitlab-ci.yml

GitLab. Pour pouvoir packager nos images Docker, il est nécessaire d'ajouter une nouvelle étape à notre pipeline d'intégration continue. Nous allons une nouvelle fois modifier le fichier.gitlab-ci.yml pour ajouter cette nouvelle étape. Le fichier final ressemblera alors à ceci :
stages:
  - build
  - test
  - quality
  - package

cache:

[2020-03-09 07:17] arey commented on #145
The `IOException` is similar to the one of those issues: https://github.com/spotify/docker-maven-plugin/issues/374 and https://github.com/spotify/docker-maven-plugin/issues/61

Does Docker is running on Gitlab ?

[2020-03-12 20:02] kamalben commented on #145
@arey  Yes it is running on git lab

[2020-03-21 18:04] #136 closed

[2020-06-17 18:32] aditya-malviya opened #153 "Config service gives white label error"
Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

[2020-06-17 18:33] aditya-malviya commented on #153
@trisberg @mklose

[2020-06-21 11:56] arey commented on #138
We look at some contributors to run the Spring Petclinic Microservices into K8S
See https://github.com/spring-petclinic/spring-petclinic-kubernetes/issues/2

[2020-06-22 12:19] arey commented on #82
Spring Boot layered jars is preferred to Google Jib: https://github.com/spring-petclinic/spring-petclinic-microservices/pull/155

[2020-06-22 12:19] #82 closed

[2020-06-22 12:20] arey commented on #153
Hi @aditya-malviya. Could you explain us what you need?

[2020-06-22 12:40] aditya-malviya commented on #153
I'm unable to run config service

[2020-06-22 12:45] arey commented on #153
Once started, could you test the URL: `http://localhost:8888/vets-service-default.yml`

[2020-06-22 13:36] aditya-malviya commented on #153
When I run config service in the url why it gives me error?

[2020-06-22 13:40] arey commented on #153
Do you have the error message and the stacktrace please?

[2020-06-22 13:41] arey commented on #144
Please reopen this issue if needed.

[2020-06-22 13:41] #144 closed

[2020-06-22 13:51] aditya-malviya commented on #153
I get this error on running

java -jar spring-petclinic-config-server-2.3.1.jar
on localhost:8888

Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Mon Jun 22 19:21:16 IST 2020
There was an unexpected error (type=Not Found, status=404).

[2020-06-22 13:55] arey commented on #153
Ok I see: there is no default page nor error page.

[2020-06-22 16:25] arey commented on #153
Dos a simple index page like this one could be help you?
![image](https://user-images.githubusercontent.com/838318/85311342-9af43f80-b4b5-11ea-9d93-ca7c7d3fe726.png)

[2020-06-22 17:58] aditya-malviya commented on #153
Anything will help, but tell me is this working? I mean if I deploy all the services will this service works?

[2020-06-23 06:53] arey commented on #153
This help page has been commited on the `develop` branch. It's just for information. The services are already working.

[2020-07-03 09:01] kchvilyov commented on #117
Thank you for good example @arey .
Is it possible to replace only Hystrix by Resilience4j
but not replace the others? :
2.Hystrix Dashboard / Turbine by Micrometer + Monitoring System
3. Ribbon by Spring Cloud Loadbalancer
4. Zuul by Spring Cloud Gateway
5.Archaius by Spring Boot external config + Spring Cloud Config

[2020-07-03 09:51] arey commented on #117
You could fork the repo, checkout an older version and apply the commit https://github.com/spring-petclinic/spring-petclinic-microservices/commit/b501fdb20a764e7b4c64ec32befeaada797ebc89

[2020-07-03 13:33] kchvilyov commented on #117
Sorry, @arey .
I use this project as beautiful example only. I am not going to change your project.
I work on replace Hystrix by Resilience4j in another our internal corporate microservice project.
Your answer can help me to select and estimate optimal way and time for replace Hystrix by Resilience4j for the internal corporate project.

[2020-07-03 13:50] kchvilyov commented on #117
**Thank you @arey .
I see you added commits "Migrate from Netflix Zuul to Spring Cloud Gateway" before this commit.
Was it necessary to "Migrate from Netflix Zuul" before "Replace Hystrix by Spring Cloud Circuit Breaker and Resilience4j"?**

arey added a commit to arey/spring-petclinic-microservices that referenced this issue on 9 Apr 2019
@arey
Migrate from Netflix Zuul to Spring Cloud Gateway sp

[2020-07-04 17:45] arey commented on #117
Zuul and Hystrix are part of the Netflix OSS. Zuul creates a Hystrix circuit breaker for each route. I don't know if Zuul supports Resilience4j. But I don't think so.

[2020-07-21 03:39] okkkk-graddda opened #157 "Manifest for config-server not found when started with docker-compose"
[root@localhost spring-petclinic-microservices]# docker-compose up
Creating network "spring-petclinic-microservices_default" with the default driver
Pulling config-server (springcommunity/spring-petclinic-config-server:)...
ERROR: manifest for springcommunity/spring-petclinic-config-server:latest not found

[2020-07-21 07:02] arey commented on #157
You're right, the `latest`tag does not exist in DockerHub: https://hub.docker.com/r/springcommunity/spring-petclinic-config-server/tags
Could you please build the project with `mvn clean install -P buildDocker`command line or edit the docker-compose file and use the tag `2.1.2`?

[2020-07-22 10:48] okkkk-graddda commented on #157
Thank you very much. I made it success with `docker-compose up ` after  `mvn clean install -P buildDocker` for several times until it's successfully built. I guess it turned out  latest not found for failure in build (while not displayed).

[2020-07-22 10:48] #157 closed

[2020-07-29 14:45] shivaraman83 opened #159 "Non-resolvable parent pom"
Receive this error -  Non-resolvable parent POM for org.springframework.samples.petclinic.admin:spring-petclinic-admin-server:2.3.2: Failure to find org.springframework.samples:spring-petclinic-microservices:pom:2.3.2

When trying to build.

[2020-07-30 12:28] #159 closed

[2020-07-30 12:29] arey commented on #159
Could you please update your repo and rebuild this project?

[2020-07-30 12:50] shivaraman83 commented on #159
Works fine. Thank you.

[2020-07-30 12:56] shivaraman83 opened #160 "version tags not closed properly"
The version tags are not closed properly

end tag name </parent> must match start tag name <version> from line 14 (position: TEXT seen ...<version>2.3.2/version>\n

<version>2.3.2/version>

[2020-07-30 14:24] arey commented on #160
Should had fixed it

[2020-08-03 07:31] odedia commented on #138
Native Kubernetes support is available in my fork: https://github.com/odedia/spring-petclinic-cloud

[2020-08-30 14:23] akashsolanki opened #161 "Update parent pom.xml to exclude junit-vintage-engine"
[This](https://github.com/akashsolanki/spring-petclinic-microservices/commit/9e11d1e83cd38e93de8c82ad29e967b225c53f39#diff-600376dffeb79835ede4a0b285078036R62) change introduced **spring-boot-starter-test** dependency but it did not exclude **junit-vintage-engine** which is causing issues which running junits independently.

Below dependency should be changed from -

[code]

to

[code]

[2020-08-31 07:06] #161 closed

[2020-09-02 15:06] sidharthasubudhi opened #163 "How to bring up PetClinic microservices along with UI"
Hi,
I am new to the forum. I am using PetClinic application for showing testing capability in API and UI automation.
So I need to install the entire package (both MicroServices and UI). Need guidance for this installation.

~Sidhartha

[2020-09-02 17:25] arey commented on #163
Hi @sidharthasubudhi. This project provides both UI and REST API. The [`README.md`](https://github.com/spring-petclinic/spring-petclinic-microservices/blob/master/README.md) explains how to build then launch the project.

[2020-09-03 12:03] arey commented on #163
Sure you may ask some questions there.

[2020-09-04 11:21] sidharthasubudhi commented on #163
Thank you.
1. What are the supporting services (Config and Discovery Server) that must be started before any other application (Customers, Vets, Visits and API).
2. How to start **../mvnw spring-boot:run** command. Please provide more details about this.
3. Is it possible to start UI in any port other than 8080? if so how to do that? (Because Jenkins is running in its default port 8080).
4. I was

[2020-09-04 12:54] arey commented on #163
1. You should start first the config server, second the discovery server, then all other microservices
2. To execute maven, you have to install the JDK 8
3. To change the port number, you have to edit the file https://github.com/spring-petclinic/spring-petclinic-microservices/blob/master/spring-petclinic-api-gateway/src/main/resources/application.yml and add follow this tuto: https://www.baeldung.

[2020-09-08 12:13] sidharthasubudhi commented on #163
1. I see the following packages are good to work with
spring-petclinic-admin-server
spring-petclinic-config-server
spring-petclinic-discovery-server
But other packages like
spring-petclinic-api-gateway, spring-petclinic-customers-service, spring-petclinic-vets-service, spring-petclinic-visits-service have some compliation errors.
2.  I executed spring-petclinic-config-server  and then spring-petcl

[2020-09-08 12:15] mahdieha opened #164 "Need to add public access modifier for @RequestMapping on "VisitResource" class."
Reference: https://rules.sonarsource.com/java/RSPEC-3751

[2020-09-08 12:29] #164 closed

[2020-09-21 17:07] pedsf1968 opened #166 "Decouple controller from repository"
It's better to decouple Controller from repository using Service class.

For each rest API Controller call Service and Service call Repository.

Controller work with DTO and repository with Entities
Service transform Entities in DTOs and DTOs to Entities

Assign to me for my first contribution

[2020-09-21 17:17] pedsf1968 opened #167 "Rename master branch to main"
Never work on Master branch (production)

Create develop branch for origin to merge other features.

Create Realease to backup differents projets states

Create first RELEASE-1.0.0 for this working Master

[2020-09-22 06:57] arey commented on #166
In micro-services architecture, with less code, we don't need to use a classical layer architecture, I mean Controller -> Service -> Repository.
In an older version of Petclinic, it was the case and that has been changed by this commit: https://github.com/spring-projects/spring-petclinic/commit/83ff9a50e378529993f4f772457dd24791b46438

[2020-09-22 07:00] arey commented on #167
In the community, the `master` is going to be replaced by the `main` branches: https://dev.to/damcosset/replacing-master-in-git-2jim
I think we could wait what GitHub will propose to automate this renaming.

[2020-11-11 17:49] arey opened #168 "Upgrade to Spring Cloud 2020 (aka Ilford)"
See PR https://github.com/spring-petclinic/spring-petclinic-microservices/pull/173
* https://spring.io/blog/2021/01/28/spring-cloud-2020-0-1-aka-ilford-is-available
* https://spring.io/blog/2020/10/07/spring-cloud-2020-0-0-m4-aka-ilford-is-available

[2020-11-21 16:47] #166 closed

[2020-11-21 16:49] #160 closed

[2020-11-21 16:49] arey commented on #160
Please reopen if needed

[2020-11-21 16:50] arey commented on #145
@kamalben do you have solve your issue?

[2020-11-21 16:50] #138 closed

[2020-11-21 16:51] arey commented on #163
@sidharthasubudhi do you solve your issue?

[2021-01-07 21:14] khadjimarwa commented on #145
@kamalben i have the same problem with my pipline in package stage  , did you resolve it ?

[2021-02-28 08:48] arey commented on #168
Merged into `master`

[2021-02-28 08:48] #168 closed

[2021-02-28 08:49] arey commented on #163
Without feedback, I'm closing this issue. Please free to reopen it.

[2021-02-28 08:49] #163 closed

[2021-02-28 08:50] arey commented on #153
Hi @aditya-malviya do you solve your issue?

[2021-03-09 14:16] gaetanBelliere commented on #145
Hi everyone,
I believe I have the same issue and can't manage to make it work. The package job always fails, I do believe the issue is mentioned there :
[WARNING] Failed to push springcommunity/spring-petclinic-customers-service, retrying in 10 seconds

I have the same gitlab-ci.yml as Kamalben.
Did anyone encouter this problem and managed to make the job work ?

[2021-03-15 09:20] marcingrzejszczak opened #174 "Add Spring Boot Chaos Monkey"
By adding the Spring Boot Chaos Monkey (https://codecentric.github.io/chaos-monkey-spring-boot/) we could introduce faults and latency that we could then use to demo failure scenarios using Micrometer and Sleuth.

[2021-03-15 09:21] marcingrzejszczak opened #175 "Consider rewriting one of the business apps to WebFlux"
If one of the business applications was using WebFlux, then we would have all possible combinations of applications (reactive and non reactive). That way we could test whether all of our Spring Cloud libraries work well within those two application types.

[2021-03-15 09:24] marcingrzejszczak opened #176 "Add database observability"
Projects to consider:

Tracing - https://github.com/openzipkin/brave/tree/master/instrumentation/p6spy
Tracing & Metrics - https://github.com/gavlyukovskiy/spring-boot-data-source-decorator

[2021-03-21 18:48] arey commented on #175
Hi @marcingrzejszczak. Thanks for your proposition. The `spring-petclinic-api-gateway` is already using String Webflux through the `spring-cloud-starter-gateway` starter. Look at the `ApiGatewayController`.

[2021-03-21 18:51] arey commented on #174
It's a great. Do you want to contribute to this sample by adding Spring Boot Chaos Monkey ?

[2021-04-06 08:39] marcingrzejszczak commented on #175
Cool!

[2021-04-06 08:39] #175 closed

[2021-04-06 08:39] marcingrzejszczak commented on #174
Sorry I've missed this... Sure, I'll be happy to add it

[2021-04-20 08:28] #174 closed

[2021-05-06 12:31] VictorJabu commented on #91
Hi Arey I am experiencing the same issue and I ran mvn clean install

[2021-05-06 13:00] VictorJabu commented on #91
[INFO] Reactor Summary for Spring Petclinic :: Parent POM 2.1.3:
[INFO]
[INFO] Spring Petclinic :: Parent POM ..................... SUCCESS [  0.690 s]
[INFO] Spring Petclinic :: AngularJS Client ............... SUCCESS [01:12 min]
[INFO] Spring Petclinic :: Spring MVC REST server ......... FAILURE [  2.426 s]
[INFO] ------------------------------------------------------------------------
[INFO] B

[2021-05-06 17:15] arey commented on #91
@VictorJabu I don' reproduce this error on my laptop but I've blinded commited this patch : https://github.com/spring-petclinic/spring-petclinic-microservices/commit/101ffbdf13a0f1f5a42713f88f83fb0fda0849f5
Could you please retry?

[2021-05-07 01:45] VictorJabu commented on #91
Hey Antoine

I downloaded the project instead of cloning it from git. After cloning it
the problem went away

Kind regards
Victor Kabine

On Thu, May 6, 2021 at 7:16 PM Antoine Rey ***@***.***> wrote:

[2021-05-08 09:05] arey commented on #91
Great, thank you for the feedback @VictorJabu

[2021-05-08 09:05] #91 closed

[2021-05-24 02:23] Mabachess commented on #145
Hi there!

I have the same issue.

I think, the package_job on the Gitlab-ci.yml start to crash here:
[code]

At the end of the CI build, i get the error issue:
[code]

The link to the confluence docs, [http://cwiki.apache.org/confluence/display/MAVEN/MojoExecutionException](url), dont help me anymore.

[2021-05-24 17:03] arey commented on #145
It looks like you don't have the access right to push your docker image into the `springcommunity` dockerhub organization.

[2021-05-24 20:40] Mabachess commented on #145
How can i do it...? Thank you for your quick answer

[2021-05-27 12:35] iNikem opened #180 "Support for ARM/Apple Silicon"
Trying to build docker images from this project on MacMini with Apple M1 processor currently fails:

[code]

[2021-05-29 20:24] arey commented on #180
Are you using a Docker version compatible with your ARM architecture/M1 architecture?
Docker Desktop seems to support it: https://docs.docker.com/docker-for-mac/apple-silicon/

[2021-05-29 20:25] arey commented on #145
You may change the `docker.image.prefix` property in the parent pom to reference your own account.

[2021-05-30 05:46] iNikem commented on #180
Yes, Docker works fine on my machine. And e.g. Testcontainers work as well.

[2021-07-06 17:29] abinash1 opened #182 "Without zipkin its not working"
Its working now.

[2021-07-10 08:10] arey commented on #182
Fine. Thus I close this issue

[2021-07-10 08:10] #182 closed

[2021-07-13 03:59] valsaraj opened #183 "Starting services locally with docker-compose failed on Windows 10"
When executed the below command error comes:
mvnw clean install -P buildDocker

[INFO] Reactor Summary:
[INFO]
[INFO] spring-petclinic-microservices 2.4.5 ............... SUCCESS [  0.364 s]
[INFO] spring-petclinic-admin-server ...................... FAILURE [ 29.504 s]
[INFO] spring-petclinic-customers-service ................. SKIPPED
[INFO] spring-petclinic-vets-service ...................... S

[2021-07-14 17:28] arey commented on #183
Hi @valsaraj  Did you solve your issue?
Maybe may we migrate to a more recent plugin or to Buildpacks. Spofity recommends to switch to the [dockerfile-maven ](https://github.com/spotify/dockerfile-maven)

[2021-07-27 11:38] timwildberger commented on #183
I have the same issue. @arey, do you have any recommendations on how to solve this problem?

My error is similar:
discovery-server   | Error: Could not find or load main class org.springframework.boot.loader.JarLauncher
discovery-server   | Caused by: java.lang.ClassNotFoundException: org.springframework.boot.loader.JarLauncher
discovery-server   | 2021/07/27 11:30:57 Command exited with error: ex

[2021-09-12 09:01] arey commented on #183
I'm sorry. I'm developing on MacOS and thus I cannot reproduce your issue.
Which version of Docker are you using?
And does the command `docker pull hello-world` is working?

[2021-09-12 15:12] E-Ismail opened #186 "Build Job fail"
If any one of you faced this problem while building the project through gitlab-ci.
![image](https://user-images.githubusercontent.com/37270864/132992972-f247de1d-f266-4c0b-8be5-a8ff737e45ae.png)

[2021-09-12 15:14] E-Ismail commented on #186
This command helped solving it.
`git add --chmod=+x -- mvnw`
`git commit -m "Executable!!!"`

Source:
https://stackoverflow.com/questions/21691202/how-to-create-file-execute-mode-permissions-in-git-on-windows

[2021-09-12 15:15] #186 closed

[2021-09-29 05:25] ramazansakin commented on #183
Hi @valsaraj ,

I had the same issue first but after some research I found that just you need to do is:
On Docker-Desktop/Setings/General

Tick this value : Expose daemon on tcp://localhost:2375 without TLS

[2021-09-29 05:30] ramazansakin commented on #180
Hi @iNikem ,

I m not sure because I m using Win10 but the problem looks the same.
Can you configure your docker like here :
https://github.com/spring-petclinic/spring-petclinic-microservices/issues/183

Hope this works for you as well.

[2021-09-29 05:37] ramazansakin commented on #183
Hi @arey ,

Like these general problem for all OSs, can you make a like Frequently Occurred Problems section on Readme.
Because if this works for @valsaraj , this issue may be closed soon after that and this disappeared and if another one still
occurs this issue , he/she create a new ticket again and again :)
Thanks

[2021-09-29 06:53] arey commented on #183
Hi @ramazansakin thank you for having found a solution to this issue.
I'm OK to add a FAQ to the `readme.md`. Could you please take it in charge and submit a PR?

[2021-09-29 08:34] ramazansakin commented on #183
Ok, sure but lets see if it works for @valsaraj and maybe also for Mac :)

[2021-09-29 09:48] valsaraj commented on #183
@ramazansakin I tickes it already as per the screenshot in the ticket description. Unfortunately that didn't worked.
It worked for me when I switched to another faster network connection. So there is something related to that with Docker in my Windows 10 machine. I took latest Docker update but still have problem on that network connection but works fine on another faster network.
 @arey FYI
Thank

[2021-10-21 01:26] kronoma commented on #145
did you make this pipline work? i use the same pipeline and the packaged job keep failing

[2021-10-21 03:28] simrin051 commented on #41
Hi @arey / @dsyer

Can  i take up this issue

[2021-11-15 16:29] simrin051 commented on #41
@arey / @dsyer
Can you please brief on what is expected out of this task. I am new to OAuth2 and microservices. Can you please brief on what is expected out of this task so that i can code easily. Please. It is an urgent request.

[2021-11-15 18:40] simrin051 commented on #41
@arey / @dsyer

Can you please advice. Please.

[2021-11-17 16:05] simrin051 commented on #41
@arey / @dsyer

May i know whether authentication using google or github is needed for this issue. I have started to work on this issue.  Can you please specify the requirements. Please.

[2021-11-17 17:53] arey opened #188 "Upgrade to Spring Cloud 2021.0 and Spring Boot 2.6"
Work in progres https://github.com/arey/spring-petclinic-microservices/tree/feature/spring-cloud-2021.0

[2021-11-17 17:54] arey commented on #41
I'm not an expert in microservices security but I think we could use the `Spring Authorization Server` https://www.baeldung.com/spring-security-oauth-auth-server.
I propose to secure  with a JWT token both the API from the Gateway and the API the 3 microservices : `vets`, `visits` and `customers`.
Keep in mind that this code shoud live in a separate code.
If it could help, I'm working on the Sprin

[2021-11-18 06:48] simrin051 commented on #41
Thanks @arey may i know the username and password configuration. May i know whether i should create signin and signup page or is it just for a single user.

[2021-11-18 13:46] simrin051 commented on #41
@arey , the authorization should be for a single user or multiple users with signup and login page. Can you please confirm. Please

[2021-11-19 07:19] simrin051 commented on #41
@arey / @pmj0yce  Can you please confirm

[2021-11-20 06:12] simrin051 commented on #41
@arey / @dsyer / @pmj0yce  Can you please confirm

[2021-11-20 10:17] simrin051 commented on #41
@arey / @dsyer / @pmj0yce Can you please confirm. Should i do in memory authentication or database authentication.

[2021-11-29 14:14] donhuvy opened #190 "Error response from daemon: manifest for springcommunity/spring-petclinic-admin-server:latest not found: manifest unknown: manifest unknown"
[code]

![image](https://user-images.githubusercontent.com/1328316/143883256-5d5e386a-dd49-4845-b427-3629945feae4.png)

Please guide me how to fix?

[2021-11-30 17:01] simrin051 commented on #41
Hi @dsyer / @arey

when i configure spring security for API Gateway, i get the below error message. I removed starter web dependency and i added  javax.xml.bind,javax.servlet dependency still the same error. I am stuck with this from 2 days..Can you please advice.

Caused by: java.lang.IllegalStateException: StandardEngine[Tomcat].StandardHost[localhost].TomcatEmbeddedContext[] failed to start

[2021-11-30 20:32] arey commented on #190
Hi, the `latest` tag does not exist on Docker Hub: https://hub.docker.com/repository/docker/springcommunity/spring-petclinic-admin-server
Could you try to build the Docker image on your local machine?

[2021-12-01 07:32] arey commented on #190
It should be ok now @donhuvy I've published all Docker images with the tags `latest` and `2.5.1`.
Could you please retry?

[2021-12-01 09:37] donhuvy commented on #190
@arey Thank you for your attention. It works now.

It is my log https://gist.github.com/donhuvy/4a6769189b42c9ca52329bb2356af4f7 . Due I am using same port, therefore has port conflict, but I it is the cause from my side.

Have a nice day!

[2021-12-01 17:16] arey commented on #190
The application use the `8080` port and it should not already be used. Let me know.

[2021-12-02 01:34] donhuvy commented on #190
Yes. After I turn off many other running web-app, it works.

[2021-12-11 14:20] arey commented on #188
Done by https://github.com/spring-petclinic/spring-petclinic-microservices/pull/191

[2021-12-11 14:20] #188 closed

[2021-12-11 14:21] arey commented on #167
A first step : I've created a `main` branch for the configuration repository: https://github.com/spring-petclinic/spring-petclinic-microservices-config

[2021-12-15 07:24] donhuvy commented on #190
@arey , Please also fix on branch `release/java11`

[2021-12-28 16:04] arey commented on #190
The `Dockerfile` is now based on java11: https://github.com/spring-petclinic/spring-petclinic-microservices/blob/master/docker/Dockerfile
The `release/java11` branch and the `readme.md` have to be delete / update.

[2021-12-28 16:05] arey opened #197 "Remove the release/java11 branch"
The Dockerfile is now based on java11: https://github.com/spring-petclinic/spring-petclinic-microservices/blob/master/docker/Dockerfile
The release/java11 branch and the readme.md have to be delete / update.
See the issue https://github.com/spring-petclinic/spring-petclinic-microservices/issues/190

[2022-01-02 14:19] charboubmustapha commented on #197
it make sens to move to Java 11 as default JVM and probably another release branch with Java 17

[2022-01-28 03:22] phxism opened #199 "docker images of visits-service failed to start"
[https://hub.docker.com/r/springcommunity/spring-petclinic-visits-service/tags](springcommunity/spring-petclinic-visits-service)
`Error: Could not find or load main class org.springframework.boot.loader.JarLauncher`
docker-compose.yaml
 **visits-service**
`entrypoint: ["./dockerize","-wait=tcp://discovery-server:8761","-timeout=60s","--","java", "org.springframework.boot.loader.JarLauncher"]`
chan

[2022-01-28 05:40] phxism commented on #199
sorry ,that is my fault ,i build the old with lastest tag locally

[2022-01-28 05:40] #199 closed

[2022-02-24 16:33] alaa-nassef commented on #180
I'm facing the same issue and not sure how to handle it either

[2022-02-25 04:27] ramazansakin commented on #183
Hi again after a long time :) ,

I think @valsaraj has another problem as I understand and what about you @timwildberger , could you solve the problem ?
Again I checked the "mvn clean install -P buildDocker" command and gets error without the tick of "Expose daemon on tcp://localhost:2375 without TLS" after ticking that it run again and produced all the images.

[2022-03-30 01:05] Spiritbe4r opened #203 "what is the valor of this variable CONFIG_SERVER_URL"
please a need some help for this .

[2022-03-31 17:19] arey commented on #203
Hi @Spiritbe4r. The answer depends the location you deploy the configuration server.
If you run the app on your local desktop, you can reach it at the URL `http://localhost:8888/`

[2022-05-22 21:23] YuriiDiduk opened #205 "How to connect pet-clinic application with RDS in EKS"
As a database I want to use RDS. But application can't to connect RDS. App container status - crashloopbackoff. For RDS,EKS security group I specifically opened all in/out traffic. The cluster and database are located in the same VPC. When I using a simple mysql container, the application connects to app. From the mysql container pod I have access to RDS.

### my application-mysql.properties
`
dat

[2022-06-19 11:31] arey commented on #190
Please reopen if needed

[2022-06-19 11:31] #190 closed

[2022-06-19 11:32] arey commented on #180
Did you find a solution with M1 and tomorrow M2 architecture?

[2022-06-19 11:32] arey commented on #203
Please reopen if needed

[2022-06-19 11:32] arey commented on #203
For question, we could now use the Discussions tab: https://github.com/spring-petclinic/spring-petclinic-microservices/discussions

[2022-06-19 11:34] arey commented on #145
Hi, does anybody have a working GitLab pipeline?

[2022-06-19 11:34] arey commented on #116
Please reopen if needed

[2022-06-19 11:34] #116 closed

[2022-06-19 11:35] arey commented on #183
Hi @valsaraj Do you find a solution?

[2022-06-19 11:36] arey commented on #153
Please reopen if needed

[2022-06-19 11:36] #153 closed

[2022-06-19 13:02] valsaraj commented on #183
@arey https://github.com/spring-petclinic/spring-petclinic-microservices/issues/183#issuecomment-930021600
As I mentioned here, it resolved when I switched to faster network. The error I faced was due to timeout. After changing network, docker run worked fine.

[2022-06-19 13:25] #183 closed

[2022-07-11 17:11] kbat312 opened #210 "Getting Excetption while Building docker Image for whole project"
Failed to execute goal com.spotify:docker-maven-plugin:1.2.2:build (default) on project spring-petclinic-admin-server: Exceptio
n caught: java.util.concurrent.ExecutionException: com.spotify.docker.client.shaded.javax.ws.rs.ProcessingException: com.spotify.docker
.client.shaded.org.apache.http.conn.HttpHostConnectException: Connect to localhost:2375 [localhost/127.0.0.1, localhost/0:0:0:0:0:0:0:1

[2022-07-11 19:49] arey commented on #210
Hi @kbat312 Did you start the Docker Daemon before executing the maven command?

[2022-08-01 14:24] 488442 opened #211 "It's possibile to implement security between microservices and gateway with relay?"

[2022-08-18 13:14] LoPan455 opened #212 "Question: How to add a separate .jar as a Java Agent and modify Docker image ENTRYPOINT args"
I've successfully built and run the Kubernetes "flavor" of the Spring Pet Clinic Microservices project.  I'd like to add a 3rd party JAR file to the output image, but I am failing to see where I can the directives to download the desired Java Agent `.jar` file and modify the default `ENTRYPOINT` directive to add the `-javaagent` flag to the `ENTRYPOINT`.

After reviewing the parent `pom.xml` and r

[2022-08-19 06:20] arey commented on #212
Hi @LoPan455
It looks like your question is related to the https://github.com/spring-petclinic/spring-petclinic-cloud/ project and not this `spring-petclinic-microservice` project that does not provide k8s support. If you confirm, I propose you copy your question in a new issue
Regards

[2022-08-19 06:33] arey commented on #211
Hi. We would like to add this feature in a separate branch: https://github.com/spring-petclinic/spring-petclinic-microservices/issues/41
We are looking for contributors.

[2022-08-19 06:33] #211 closed

[2022-08-19 07:25] 488442 commented on #41
Any news?

[2022-08-19 11:27] LoPan455 commented on #212
@arey You are correct, my mistake.  Thank you for the response.

[2022-08-19 11:27] #212 closed